<h3>Index {{theindex.name}}</h3>

<ul id="tabs" class="nav nav-tabs">
	<li><a href="/index/{{theindex.name}}/schema" >Schema</a></li>
	<li class="active"><a href="/index/{{theindex.name}}/indexers" >Indexers</a></li>
	<li><a href="/index/{{theindex.name}}/search" >Search</a></li>
	<li><a href="/index/{{theindex.name}}/booleanSearch" >Boolean Search</a></li>
</ul>
<p>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputNone" class="col-sm-2 control-label">Nodes Indexing</label>
		<div class="col-sm-10">
			<label class="checkbox" ng-repeat="node in nodes">
				<input type="checkbox" data-ng-checked="nodesAssigned[node]" ng-click="toggleNode(node)"> {{node}}
			</label>
		</div>
	</div>
</form>